<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="opencms.presentation.OpencmsModelWizardID"
            name="%_UI_OpencmsModelWizard_label"
            class="opencms.presentation.OpencmsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpencmsModelFile.gif">
         <description>%_UI_OpencmsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="opencms.presentation.OpencmsEditorID"
            name="%_UI_OpencmsEditor_label"
            icon="icons/full/obj16/OpencmsModelFile.gif"
            extensions="opencms"
            class="opencms.presentation.OpencmsEditor"
            contributorClass="opencms.presentation.OpencmsActionBarContributor">
      </editor>
   </extension>

</plugin>
